{% extends "index.html" %} 
{% load static %} 
{% block content %}
<style>
    .movie-contain{
        margin-bottom: 0px;
        padding-top: 0px;
    }
    .book-contain{
        padding-top: 0px;
        margin-bottom: 50px;
    }
    .music-contain{
        padding-top: 0px;
        margin-bottom: 0px;
    }
    .headline{
        display: flex;
        justify-content: center;
        background-color: red;
        padding: 4px 4px;
        margin: 4px 0px;
        text-align: center;
        height: max-content!important;
        font-weight: lighter;
        {% comment %} z-index: 10; {% endcomment %}
    }
    
    .minimize img{
        height: 28px;
        position: absolute;
        right: 6px;
        cursor: pointer;
    }
    .headline-top{
        {% comment %} background-color: #FFEA0490; {% endcomment %}
        background-color: #FFEA04;
        {% comment %} padding: 0px 4px;
        margin: 4px 0px;
        text-align: center;
        height: 40px;
        position: absolute;
        left: 0;
        right: 0;
        margin-top: 2px; {% endcomment %}
    }
    .headline-top-dark-mode{
      background-color: #FFEA0490;
    }
    {% comment %} .head-cont-all{
        margin: 2px 0px;
    } {% endcomment %}
    .headline-middle{
        {% comment %} background-color: #FF450090; {% endcomment %}
        background-color: #FF4500;
    }
    .headline-middle-dark-mode{
      background-color: #FF450090;
    }
    .headline-bottom{
        {% comment %} background-color: #AADB1E90; {% endcomment %}
        background-color: #AADB1E;
    }
    .headline-bottom-dark-mode{
      background-color: #AADB1E90;
  }
    
    .headline-all{
        color: white;
        font-weight: 100;
    }
    {% comment %} #preloader{
      background : #28334AFF url({% static 'app/images/loader.gif' %}) no-repeat center center!important;
      height: 100vh;
      background-size: 60px!important;
      width: 100%;
      position: fixed;
      z-index: 100;
    } {% endcomment %}
    .headline-top h1{
      color: black;
    }
    .headline-middle h1{
      color: black;
    }
    .headline-bottom h1{
      color: black;
    }
    .main-sec{
      display: grid;
    }
    .main-sec2{
      display: grid;
    }
    .main-sec3{
      display: grid;
    }
    @media only screen and (max-width: 900px) {
      .movie-contain{
        margin-bottom: 0px;
        padding-top: 0px;
    }
    }
</style>

{% comment %} <div id="preloader"></div> {% endcomment %}
<div class = "poster"><img src="{% static 'app/images/poster_light.jpg' %}" alt="" id="poster"></div>
<section>
  <div class="headline headline-top" id="headlline-top"><div class="head-cont-all" ><h1 class="headline-all">Movie & series</h1></div><span class="minimize" id="topmini"><img src="{% static 'app/images/minimize.png' %}" id="miniimg" alt=""></span></div>
  <div class="contain-sec movie-contain main-sec" id="contain-sec">
    {% for lola in allPosts %}
    <div class="elements">
      <div class="thumb">
        <img src="{% static 'app/images/movie-poster.jpg' %}" width="100px" />
      </div>
      <div class="Title">
        <a href="{% url 'app:list_detail' lola.slug %}"><h4 class="tit" id="tit">{{lola.title}}</h4></a>
        {% if user.id == lola.creator.id %}
        <a href="{% url 'app:delete_movie' lola.slug %}"><img src ="{% static 'app/images/delete.png' %}"></a>
        <a href="{% url 'app:update_list' lola.slug %}"><img src ="{% static 'app/images/edit.png' %}"></a>
        {% else %}
        <img src ="{% static 'app/images/delete-dis.png' %}">
        <img src ="{% static 'app/images/edit-dis.png' %}">
        {% endif %}
      </div>
      <style>
        .Title img{
          height: 14px;
        }
      </style>
      <div class="Author">
        <small>Author : {{lola.creator.username}}<span>{{lola.posted}}</span></small>
      </div>
      <div class="rating"><small>Rating : 6/10 [239 users]</small></div>
      
        {% for tag in lola.genre.all %}
        <div class="Genre">
        <small>{{ tag }}</small>
        </div>
          {% empty %} 
          No tags! 
        {% endfor %}
    </div>
    {% endfor %}
  </div>
  <div class="headline headline-middle" id="headline-middle"><div class="head-cont-all" ><h1 class="headline-all">Music</h1></div><span class="minimize" id="centmini"><img src="{% static 'app/images/minimize.png' %}" id="miniimg2" alt=""></span></div>
  <div class="contain-sec music-contain main-sec2" id="contain-sec2">
    {% for lola in allPostsmusic %}
    <div class="elements">
      <div class="thumb">
        <img src="{% static 'app/images/music-poster.jpg' %}" width="100px" />
      </div>
      <div class="Title">
        <a href="{% url 'app:musiclist_detail' lola.slug %}"><h4 class="tit">{{lola.title}}</h4></a>
        {% if user.id == lola.creator.id %}
        <a href="{% url 'app:delete_music' lola.slug %}"><img src ="{% static 'app/images/delete.png' %}"></a>
        <a href="{% url 'app:update_musiclist' lola.slug %}"><img src ="{% static 'app/images/edit.png' %}"></a>
        {% else %}
        <img src ="{% static 'app/images/delete-dis.png' %}">
        <img src ="{% static 'app/images/edit-dis.png' %}">
        {% endif %}
      </div>
      <style>
        .Title img{
          height: 14px;
        }
      </style>
      <div class="Author">
        <small>Author : {{lola.creator.username}}<span>{{lola.posted}}</span></small>
      </div>
      <div class="rating"><small>Rating : 6/10 [239 users]</small></div>
      
        {% for tag in lola.genre.all %}
        <div class="Genre">
        <small>{{ tag }}</small>
        </div>
          {% empty %} 
          No tags! 
        {% endfor %}
    </div>
    {% endfor %}
  </div>
  <div class="headline headline-bottom" id="headline-bottom"><div class="head-cont-all" ><h1 class="headline-all">Book</h1></div><span class="minimize" id="bottommini"><img src="{% static 'app/images/minimize.png' %}" id="miniimg3" alt=""></span></div>
  <div class="contain-sec book-contain main-sec3" id="contain-sec3">
    {% for lola in allPostsbook %}
    <div class="elements">
      <div class="thumb">
        <img src="{% static 'app/images/book-poster.jpg' %}" width="100px" />
      </div>
      <div class="Title">
        <a href="{% url 'app:booklist_detail' lola.slug %}"><h4 class="tit">{{lola.title}}</h4></a>
        {% if user.id == lola.creator.id %}
        <a href="{% url 'app:delete_book' lola.slug %}"><img src ="{% static 'app/images/delete.png' %}"></a>
        <a href="{% url 'app:update_booklist' lola.slug %}"><img src ="{% static 'app/images/edit.png' %}"></a>
        {% else %}
        <img src ="{% static 'app/images/delete-dis.png' %}">
        <img src ="{% static 'app/images/edit-dis.png' %}">
        {% endif %}
      </div>
      <style>
        .Title img{
          height: 14px;
        }
      </style>
      <div class="Author">
        <small>Author : {{lola.creator.username}}<span>{{lola.posted}}</span></small>
      </div>
      <div class="rating"><small>Rating : 6/10 [239 users]</small></div>
      
        {% for tag in lola.genre.all %}
        <div class="Genre">
        <small>{{ tag }}</small>
        </div>
          {% empty %} 
          No tags! 
        {% endfor %}
    </div>
    {% endfor %}
  </div>
  
  
</section>
<footer class="fout" id = "fout">
  <div class="foot-options">
  <a href="{% url "app:about_us" %}">About us</a>
  <a href="{% url "app:feedback" %}">Feedback</a>
  <a href="{% url "app:guidelines" %}">Guidelines</a>
  </div>
  <div class="foot-copy">
  <small>Copyright &copy; HornetHive 2022</small>
  </div>
</footer>
<script>
  let topo = document.getElementById("topmini");
  let center = document.getElementById("centmini");
  let bottom = document.getElementById("bottommini");
  let topcont = document.getElementById("contain-sec");
  let centcont = document.getElementById("contain-sec2");
  let botcont = document.getElementById("contain-sec3");
  let miniimg = document.getElementById("miniimg");
  let miniimg2 = document.getElementById("miniimg2");
  let miniimg3 = document.getElementById("miniimg3");
  let hint1 = false, hint2 = false, hint3 = false;
  topo.addEventListener('click', () =>{
    if(!hint1){
      topcont.style.display = "none";
      miniimg.src = "{% static 'app/images/maximize.png' %}";
      hint1 = true;
    }
    else{
      topcont.style.display = "grid";
      miniimg.src = "{% static 'app/images/minimize.png' %}";
      hint1 = false;
    }
  });
  center.addEventListener('click', () =>{
    if(!hint2){
      centcont.style.display = "none";
      miniimg2.src = "{% static 'app/images/maximize.png' %}";
      hint2 = true;
    }
    else{
      centcont.style.display = "grid";
      miniimg2.src = "{% static 'app/images/minimize.png' %}";
      hint2 = false;
    }
  });
  bottom.addEventListener('click', () =>{
    if(!hint3){
      botcont.style.display = "none";
      miniimg3.src = "{% static 'app/images/maximize.png' %}";
      hint3 = true;
    }
    else{
      botcont.style.display = "grid";
      miniimg3.src = "{% static 'app/images/minimize.png' %}";
      hint3 = false;
    }
  });

</script>
{% endblock content %}
