{% extends "index.html" %} 
{% load static %} 
{% block content %}
<style>
    .movie-contain{
        margin-bottom: 0px;
        padding-top: 32px;
    }
    .book-contain{
        padding-top: 0px;
        margin-bottom: 50px;
    }
    .music-contain{
        padding-top: 0px;
        margin-bottom: 0px;
    }
    .headline{
        background-color: red;
        padding: 0px 4px;
        margin: 4px 0px;
        text-align: center;
        height: max-content!important;
        font-weight: lighter;
    }
    .headline-top{
        background-color: #FFEA0470;
        padding: 0px 4px;
        margin: 4px 0px;
        text-align: center;
        height: 40px;
        position: absolute;
        left: 0;
        right: 0;
        margin-top: 2px;
    }
    .headline-middle{
        background-color: #FF450070;
    }
    .headline-bottom{
        background-color: #AADB1E70;
    }
    .headline-all{
        color: white;
        font-weight: 100;
    }
    {% comment %} #preloader{
      background : #28334AFF url({% static 'app/images/loader.gif' %}) no-repeat center center!important;
      height: 100vh;
      background-size: 60px!important;
      width: 100%;
      position: fixed;
      z-index: 100;
    } {% endcomment %}
    .headline-top h1{
      color: black;
    }
    .headline-middle h1{
      color: black;
    }
    .headline-bottom h1{
      color: black;
    }
    @media only screen and (max-width: 900px) {
      .movie-contain{
        margin-bottom: 0px;
        padding-top: 96px;
    }
    .headline-top{
      margin-top: 52px;
  }
    }

</style>
{% comment %} <div id="preloader"></div> {% endcomment %}
<div class = "poster"><img src="{% static 'app/images/poster.jpg' %}" alt=""></div>
<section>
  <div class="headline headline-top"><h1 class="headline-all">Movie & series</h1></div>
  <div class="contain-sec movie-contain" id="contain-sec">
    {% for lola in allPosts %}
    <div class="elements">
      <div class="thumb">
        <img src="{% static 'app/images/movie-poster.jpg' %}" width="100px" />
      </div>
      <div class="Title">
        <a href="list/{{lola.slug}}/"><h4 class="tit">{{lola.title}}</h4></a>
      </div>
      <div class="Author">
        <small>Author : {{lola.author}}<span>{{lola.posted}}</span></small>
      </div>
      <div class="rating"><small>Rating : 6/10 [239 users]</small></div>
      
        {% for tag in lola.genre.all %}
        <div class="Genre">
        <small>{{ tag }}</small>
        </div>
          {% empty %} 
          No tags! 
        {% endfor %}
    </div>
    {% endfor %}
  </div>
  <div class="headline headline-middle"><h1 class="headline-all">Music</h1></div>
  <div class="contain-sec music-contain" id="contain-sec">
    {% for lola in allPostsmusic %}
    <div class="elements">
      <div class="thumb">
        <img src="{% static 'app/images/music-poster.jpg' %}" width="100px" />
      </div>
      <div class="Title">
        <a href="musiclist/{{lola.slug}}/"><h4 class="tit">{{lola.title}}</h4></a>
      </div>
      <div class="Author">
        <small>Author : {{lola.author}}<span>{{lola.posted}}</span></small>
      </div>
      <div class="rating"><small>Rating : 6/10 [239 users]</small></div>
      
        {% for tag in lola.genre.all %}
        <div class="Genre">
        <small>{{ tag }}</small>
        </div>
          {% empty %} 
          No tags! 
        {% endfor %}
    </div>
    {% endfor %}
  </div>
  <div class="headline headline-bottom"><h1 class="headline-all">Book</h1></div>
  <div class="contain-sec book-contain" id="contain-sec">
    {% for lola in allPostsbook %}
    <div class="elements">
      <div class="thumb">
        <img src="{% static 'app/images/book-poster.jpg' %}" width="100px" />
      </div>
      <div class="Title">
        <a href="booklist/{{lola.slug}}/"><h4 class="tit">{{lola.title}}</h4></a>
      </div>
      <div class="Author">
        <small>Author : {{lola.author}}<span>{{lola.posted}}</span></small>
      </div>
      <div class="rating"><small>Rating : 6/10 [239 users]</small></div>
      
        {% for tag in lola.genre.all %}
        <div class="Genre">
        <small>{{ tag }}</small>
        </div>
          {% empty %} 
          No tags! 
        {% endfor %}
    </div>
    {% endfor %}
  </div>
  
  
</section>
<footer class="fout">
  <div class="foot-options">
  <a href="{% url "app:about_us" %}">About us</a>
  <a href="{% url "app:feedback" %}">Feedback</a>
  <a href="{% url "app:guidelines" %}">Guidelines</a>
  </div>
  <div class="foot-copy">
  <small>Copyright &copy; HornetHive 2022</small>
  </div>
</footer>

{% endblock content %}
