{% extends "app/edit_prof_base.html" %} 
{% load static %} 
{% block profile %}
<style>
  .edit_prof .title{
    display: flex;
    width: 70vw;
    justify-content: space-between;
    flex-direction:row;
    align-self: flex-start;
    color: #cdcdcd;
    letter-spacing: 1.5px;
    margin-top: 26px;
    margin-left: 30px;
    font-size: small;
    align-items: flex-end;
}
.edit_prof .title h4{
  
  font-weight: lighter;
  margin: 22px 0;
}
.options-general h2,.options-general h4{
  color: #ffffff91;
}
.options-general-ans{
  margin-right: 32vw;
}
.options-general-ans h4 form button{
  padding: 2px 4px;
  cursor: pointer;
  background-color: #D1000087;
  margin-left: 6px;
  border: none;
  outline: none;
  focus: none;
  border-radius: 4px;
}
.options-general-ans h4 form input{
  width: 72px;
  border: none;
  outline: none;
  focus: none;
  border-radius: 4px;
  background-color: black;
  padding: 2px 4px;
  color: white;
}
.choose-img{
  color: ffffff87;
  padding: 2px 6px;
  cursor: pointer;
  background-color: #00000080;
  margin-left: 6px;
  border: none;
  outline: none;
  focus: none;
  border-radius: 4px;
}
.options-general-ans h2,.options-general h4{
  color: white!important;
}


</style>
<div class="title">
  <div class="options-general">
  <h2>General</h2>
  <h4>Change profile picture </h4>
  <h4>Change username</h4>
  <h4>Email</h4>
  <h4>Change password</h4>
  <h4 class="delete-acc">Delete Account</h4>
  </div> 
  <div class="options-general-ans">
    <h2>&nbsp;</h2>
    <h4>
      <form>
      <input type="file" name="uploadfile" id="img" style="display:none;"/>
      <label for="img"><a class="choose-img">Choose</a></label>
      <button type="submit">Upload</button>
      </form>
    </h4>
    <h4>
      <form>
      <input type="text" name="changeusername" id="change-username" placeholder="{{user.username}}"/>
      <button type="submit">Change</button>
      </form>
    </h4>
    <h4>{{user.username}}</h4>
    <h4>******</h4>
    <h4 class="delete-acc" style="color: #D1000092; font-weight: bold; cursor: pointer;">Delete Account</h4>
    </div> 
  
</div>
{% endblock %}