{% extends "index.html" %}
{% load static %}



{% block content %}
{% comment %} <link rel="stylesheet" href="../css/list_detail.css"> {% endcomment %}


<section class="list_detail" id="list-det-id">
    <h3>{{list.title}}</h3>
    <div class="detail-up-del">
        {% if user.id == list.creator.id %}
        <a href="{% url 'app:delete_movie' list.slug %}"><img src ="{% static 'app/images/delete.png' %}"></a>
        <a href="{% url 'app:update_list' list.slug %}"><img src ="{% static 'app/images/edit.png' %}"></a>
        {% else %}
        <img src ="{% static 'app/images/delete-dis.png' %}">
        <img src ="{% static 'app/images/edit-dis.png' %}">
        {% endif %}
      </div>
      <style>
        .detail-up-del{
            padding: 10px 25px;
        }
        .detail-up-del img{
          height: 14px;
        }
      </style>
    <small>Author : {{list.creator.username}}</small><br>
    <small>Date : {{list.posted}}</small><br>
    <div class="genre_wrap">

        {% for tag in list.genre.all %}
        <div class="Genre">
            <a href="{% url 'app:film' query=tag %}">
                <small>{{ tag }}</small>
            </a>
        </div>
        {% empty %}
        No tags!
    {% endfor %}
    </div> 
    <div class="blog_post_body">
        {{list.content|safe}}
    </div>
    <div class="comments">
        <div class="comment headline">
            <h1>Comments</h1>
        </div>
        <hr>
        {% comment %} {% url 'app:add_comment' list.slug %} {% endcomment %}
        <div class="add-comment"><a href="#">Add a comment</a><br>
            <hr>
        {% comment %} <div><input type="text" placeholder="enter your comment"></div>
        <div><button type= "submit">Comment</button></div> {% endcomment %}
        {% if not list.comments.all %}
            No comments yet
        {% else %}
            {% for comment in list.comments.all %}
            <div class="comment-user-name-date"><span><small><b>{{ comment.name }}</b></span>{{ comment.date_added }}</small></div>
            <div class="comments-body">
                <p>{{ comment.body }}</p>
                <form method="POST">
                    <input type="text" placeholder="reply"><br>
                    <button type="submit">Reply</button>
                </form>
            </div>
            {% endfor %}
        {% endif %}

        


    </div>    
</section>

{% endblock content %}