{% extends "index.html" %}
{% load static %}



{% block content %}
{% comment %} <link rel="stylesheet" href="../css/list_detail.css"> {% endcomment %}


<section class="list_detail" id="list-det-id">
    <h3>{{list.title}}</h3>
    <div class="detail-up-del">
        {% if user.id == list.creator.id %}
        <a href="{% url 'app:delete_movie' list.slug %}"><img src ="{% static 'app/images/delete.png' %}"></a>
        <a href="{% url 'app:update_list' list.slug %}"><img src ="{% static 'app/images/edit.png' %}"></a>
        {% else %}
        <img src ="{% static 'app/images/delete-dis.png' %}">
        <img src ="{% static 'app/images/edit-dis.png' %}">
        {% endif %}
      </div>
      <style>
        .detail-up-del{
            padding: 10px 25px;
        }
        .detail-up-del img{
          height: 14px;
        }
      </style>
    <small>Author : {{list.creator.username}}</small><br>
    <small>Date : {{list.posted}}</small><br>
    <div class="genre_wrap">

        {% for tag in list.genre.all %}
        <div class="Genre">
            <a href="{% url 'app:film' query=tag %}">
                <small>{{ tag }}</small>
            </a>
        </div>
        {% empty %}
        No tags!
    {% endfor %}
    </div> 
    <div class="blog_post_body">
        {{list.content|safe}}
    </div>

    <div class="commentss" id="comments-id">
        <div class = "commentscarrier">
            <div class="comment-contentsas comment-head"><p>Comments(3)</p></div>
            <hr>
            {% include "app/list_comment.html" %}
            {% comment %} <div class="comment-contentsas"><p class="commentor-name">perky120
                <span class="stars-comments">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    </span>
            </p></div>
            <div class="comment-contentsas"><p><small>26 august 02:23 pm</small></p></div>
            <div class="comment-contentsas"><p>That was a great suggestion! I guess our taste bud really matches!</p></div>
            <div class="comment-contentsas"><p class="reply-com">reply</p></div>
            <div class="comment-contentsas"><p><span class="like"><img src="{% static 'app/images/like.png' %}"></span><span class="dislike"><img src="{% static 'app/images/dislike.png' %}"></span></p></div>
            <hr>
            <div class="comment-contentsas"><p class="commentor-name">perky120
                <span class="stars-comments">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    </span>
            </p></div>
            <div class="comment-contentsas"><p><small>26 august 02:23 pm</small></p></div>
            <div class="comment-contentsas"><p>That was a great suggestion! I guess our taste bud really matches!</p></div>
            <div class="comment-contentsas"><p class="reply-com">reply</p></div>
            <div class="comment-contentsas"><p><span class="like"><img src="{% static 'app/images/like.png' %}"></span><span class="dislike"><img src="{% static 'app/images/dislike.png' %}"></span></p></div>
            <hr>
             {% endcomment %}
        </div>
        <div class = "postcommentscarrier">
            <div><h1>Write your review</h1></div>
            <div><textarea  name="post-a-review" rows="14" cols="70"></textarea></div>
            <div><p>Your rating</p></div>
            <div>
                <span class="stars-post-comments">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    </span>
            </div><br>
            <div><button type="submit">Post</button></div>
        </div>
        
        


    </div>   
    <div class="gap">
    </div> 
</section>

{% endblock content %}