
body{
    color: azure;
}
img{
    width: 500px!important;
}
.list_detail{
    padding-top: 80px;
    position: absolute;
    width: 100%;
    bottom: 0;
    top: 0;
}

.list_detail h3{
    font-size: 26px;
    padding: 0px 20px;
    padding-top: 20px;
    font-weight: lighter;
}
.list_detail small{
    padding: 10px 25px;
}
.genre_wrap{
    margin-left: 26px;
}
.Genre small{
    padding: 0 0;
    margin-right: 2px;
}
.blog_post_body{
    padding-top: 12px;
    padding-left: 26px;
    margin-right: 30%; 
}
small{
    color: azure;
}